.header-wrapperis {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(5, 164, 218);
    width: 100%;
    flex-grow: 1;
    color: white;
}

.hd-antras-wrappers-cw {
    display: flex;
    justify-content: center;
    align-items: center;
}

.antras-cw-wrappers {
    justify-content: center;
    width: 30%;
}
.pirmas-cw {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.pirmas-cw-border {
    border-left: 1px solid white;
    height: 30px;
}

.antras-cw-antras-wrapperis {
    display: flex;
    justify-content:center ;
}

.antras-cw-pirmas {
    align-items: center;
    padding-left: 10px;
}

.antras-cw {
    display: block;
    text-align: center;
    font-size: 40px;
}

.antras-cw-pirmas {
    display: block;
    flex-direction: row;
}

.trecias-cw {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.trecias-cw-pirmas {
    border: solid rgb(167, 167, 252);
    border-radius: 3px;
    padding: 10px 30px 10px 30px;

}

.trecias-cw-antras {
    border: solid rgb(167, 167, 252);
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
    margin:10px;

}

.skirtukas {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: white;
}

.nav-wrappers {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.juostos-mygtukai {
    text-align: center;
    border: 2px solid white;
    background-color: rgb(69, 69, 136);
    padding: 20px;
    width: 20%;
    height: 20px;
}
.juostos-mygtukai:hover {
    background-color: rgb(45, 45, 88);
}

.wallpaper-elements {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
}

/*.img-wrappers {
    margin-top: 50px;
}*/

.paveiksliukas {
    width: 90%;
}

.text-wrapperis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 80px;
    background-image:url(onebook.jpg);
    width: 100%;
    height: 400px;
 }

.wallpp-text {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.text-border-bottom {
    border-bottom: 3px solid white;
}

.text-border-top {
    border-top: 3px solid white;
    padding: 0px;
    width: 765px;
}

.eng{
    display: flex;
    background-color: rgb(50, 151, 50);
    color: white;
    font-size: 40px;
    text-align: center;
    height: 100px;
    width: 100%;
    margin-top: 10px;
}

.eng1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
}

.eng2 {
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: rgb(50, 151, 50);
    font-size: large;
    width: 60%;

}

.stulpelio-wrapperis {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.stulpeliai {
    width: 30%;
    background-color: rgb(218, 232, 236);
    height: 300px;
    padding: 5px;
}

div > p {
    font-size: 30px;
}

.stulpeliai2-wrapperis {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.stulpeliai1 {
    justify-content: space-around;
    text-align: center;
    background-color: blueviolet;
    height: 300px;
    padding: 5px;
    width: 30%;
    color: white;
}

.stulpeliai2 {
    justify-content: space-around;
    text-align: center;
    background-color: blue;
    height: 300px;
    padding: 5px;
    width: 30%;
    color: white;
}

.stulpeliai3 {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 5px;
    width: 30%;
}

.stulpeliai-h2 {
    margin: 60px;
}

.dienos {
    display: flex;
    align-items: center;
    text-align: center;
    color:rgb(131, 201, 224);
    font-size: 14px;
}

.d2 {
    border: 1px solid rgb(109, 236, 109);
    border-radius: 10px;
    text-align: center;
    width: 15%;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    color: rgb(109, 236, 109);
    padding: 5px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.nav-mygtukiai {
    display: flex;
    border: 1px solid rgb(51, 168, 207);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 23%;
    height: 50px;
    color: rgb(51, 168, 207);

}

/*table, th, td {
    display: flex;
    flex-wrap: wrap;
}*/

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 700px;
    color: rgb(255, 255, 255);
    background-color: rgb(72, 82, 88);
    align-items: stretch;
    margin-top: -30px;
}

.footer-tb {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}

.order {
    display: flex;
    order: 4;
}

div.footer-tb > h1 {
    font-size: 30px;
}
